* {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
}

.header {
        background: url(./rooms-assets/img\ 1.png) no-repeat center/cover;
        height: 100vh;
        width: 100vw;

}

.header {
        color: white;
}

.navbar {
        width: 100%;
        display: flex;
        justify-content: space-around;
        position: relative;
        z-index: 1;
}

.navbar div {
        border: none;
        border-radius: 0% 0% 30% 30%;
        width: 15vw;
        height: 13vh;
        background-color: #E0B973;
        color: #14274A;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 0.2%;
}

.navbar ul {
        width: 40vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
}

.navbar ul li {
        list-style: none;
        color: white;
        font-size: large;
}

.navbar ul li a {
        color: white;
        text-decoration: none;
        font-weight: bolder;
}

.navbar ul li a:hover {
        color: #E0B973;
        text-decoration: underline;
}

/* navbar is completed */


/* header heading is strated */

.heading {
        display: flex;
        flex-direction: column;
        position: relative;
        left: 15%;
        top: 20vh;
        width: 48vw;
        margin: 0;
        padding: 0;
}

.heading h1 {
        font-size: 9rem;
        margin: 0;
        padding: 0;
}

.heading h3 {
        font-size: 2rem;
        font-weight: 100;
        margin: 0;
        padding: 0;
}

.heading h2 {
        font-size: 2.5rem;
        font-weight: 200;
        margin: 0;
        padding: 0;
}

.heading p {
        font-size: xx-large;
        font-weight: 100;
        width: 40vw;
        margin: 0;
        padding: 0;
        /* color: transparent(); */
}

/* button  */

.buttton {
        border-radius: 10px;
        height: 7vh;
        width: 25vh;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 63vw;
        margin-top: 25vh;
        background-color: #E0B973;
        font-weight: 1000;
        gap: 10px;
        position: relative;
}

/* button is completed */

/* scroll */

.scroll {
        width: 5vw;
        height: 10vh;
        font-size: x-large;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-left: 67vw;
        margin-top: 5vh;
        position: relative;
}


/* body-paragraph */

.body-paragraph{
        text-align: center;
        width: 65vw;
        margin:10vh 0 10vh  18vw;
}
.body-paragraph h1{
        font-size: xx-large;
}

/* rooms-design is started */

.single-room {
        display: grid;
        place-content: center;
        margin: 10vh 0vh;
}

.single-room img{
        width: 80vw;
}
.single-room h1{
        background-color: #14274A;
        width: 80vw;
        height: 10vh;
        color: white;
        font-size: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
}

.room1-details{
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
}

.room1-details h4{
        font-size: larger;
        color: #14274A;
}
.room1-details p{
        border: 1px solid;
        height: 5vh;
        width: 12vw;
        display: grid;
        place-items: center;
        background-color: #E0B973;
        color: white;
        font-weight: 1000;
        border-radius: 10px;
}
/* room1-design is completed */




/* footer is started */

.footer-heading {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 60px 0px 0px 300px;
        text-align: center;
        width: 50vw;
        height: 25vh;
}

.footer-heading h3 {
        font-size: xx-large;
        color: #14274A;
}

.footer-heading h5 {
        font-size: large;
        color: #14274A;
        font-weight: 500;
}

.footer-heading p {
        font-size: small;
        font-weight: 100;
        margin-top: -20px;
}

.arrows {
        display: flex;
        justify-content: space-between;
        width: 5vw;
        margin-left: 22vw;
}


/* footer is started */

.footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #14274A;
        color: white;
        height: 30vh;
}

.heading1 {
        height: 15vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
}

.heading1 h6 {
        text-align: center;
        width: 10vh;
        font-weight: 100;
}


.heading2 {
        height: 12vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
}

.heading2{
        font-size: larger;
}

.heading3{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: space-between;
        height: 12vh;
        width: 10vw;
}

.facebook{
        display: flex;
        align-items: center;
        justify-content: space-around;
}
.twitter{
        display: flex;
        align-items: center;
        justify-content: space-around;        
}
.instagram{
        display: flex;
        align-items: center;
        justify-content: space-around;
}

.heading4{
        display: flex;
        flex-direction: column;
        justify-content: space-between ;
        height: 12vh;
}
.input-footer {
        display: flex;
        align-items: center;
        width: 22vw;
        height: 5vh;
        background-color: #E0B973;
        border-radius: 5px;
}
.input-footer input{
        border: 2px solid #E0B973;
        background-color: #14274A;
        height: 5vh;
        width: 16vw;
}
.input-footer input::placeholder{
        color: white;
        padding-left: 20px;
        font-weight: bold;
}
.input-footer p{
        font-size: x-large;
        margin-left: 7%;
        color: #14274A;       
}

/* footer is completed */